.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  min-height: 100vh;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
  background-image: linear-gradient(180deg, rgb(189, 195, 199) 0.00%,rgb(136, 83, 83) 100.00%);
}
.home-text {
  top: 60px;
  left: 276px;
  color: #790d0d;
  position: absolute;
}
.home-select {
  left: 350px;
  bottom: 154px;
  position: absolute;
}
.home-select1 {
  left: 475px;
  bottom: 154px;
  position: absolute;
  align-self: center;
}
.home-iframe {
  width: 320px;
  height: 200px;
}
